.public-header { height: 100px;}
.public-header .header-logo {  margin-top: 40px; }
.public-header .header-logo a { display: block; width: 180px; height: 54px;  background:url(../img/header-logo.png);}
.public-header .header-nav li { float: left; margin-top: 44px; margin-left: 50px;}
.public-header .header-nav li a { font-size: 16px; color: black;}
.index-list {height: 100px; background: burlywood;}
.index-panel { height: 100px; background: pink;}
.footer { height: 318px; padding-top: 100px; background:#3b3b3b;}

.footer .footer-col {width: 230px; margin-right: 60px;}
.footer .footer-col .footer-logo { width: 182px; height: 55px; background: url(../img/footer-logo.png) no-repeat; margin-top: -15px;}
.footer .footer-col:last-child { margin-right: 0;}
.footer .footer-col li { font-size: 16px; color: #fff; line-height: 1.8;}
